@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: .7rem;
}

.flex .dates,
.flex .retailers {
    margin: 0 1rem 0 1rem;
    width: 200px;
    padding: .2rem;
    font-size: 1rem;
}

.tables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .7rem;
}

.tables p {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.container {
    height: 90vh;
    width: 97%;
    overflow-x: scroll;
    overflow-y: auto;
    box-shadow: 5px 5px 10px rgba(248, 247, 247, 0.5);
}


.container table * {
    border: 1px double #ccc;
    background-color: rgba(245, 245, 245, 0.836);
}

.container table {
    border-collapse: collapse;
    width: 100%;
    scale: .91;
}

.container table th {
    background-color: rgb(78, 129, 244);
    padding: 0 20px 0 20px;
    font-size: 1.1rem;
    box-shadow: 5px 5px 10px rgba(248, 247, 247, 0.5);
    /* text-shadow: 1px 1px 1px #000; */
    background: #ccc;
    /* border: none; */
    /* color: #fff; */
    padding: 10px;
    position: relative;
}

.container table td {
    text-align: center;
    padding: 0 .5rem 0 .5rem;
}

.week select {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin: .5rem;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .flex {
        flex-direction: column;
        gap: .2rem;
    }

    .flex .dates,
    .flex .retailers {
        width: 100%;
        margin: 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}